* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.ncu-rep binary
*.nsys-rep binary
api_gateway/src/generated/transaction_generated.rs whitespace=-blank-at-eof
